html, body {
    line-height: 1.5;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: #118ec0;
}

.navbar {
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0.5px 1px 2px rgb(170, 169, 169);
}
.navbar-brand label {
    font-size: 2.5rem;
    color: #183e9f;
    font-weight: 700;
    margin-left: 10px;
    display: inline;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: -60px;
}

.navbar-nav svg {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.menu-btn {
    background-color: transparent;
    border-color: transparent;
    float: right;
}

.dropdown-menu {
    position: relative;
    display: inline-block;
    border-color: transparent;
    width: 100px;
}

.menu-content {
    display: none;
    position: absolute;
    width: 160px;
    z-index: 1;
    margin-top: 65px;
    background-color: white;
    border-radius: 10px;
}

.links,.links-hidden{
    display: inline-block;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.links-hidden{
    display: block;
    float: right;
}

.links{
    display: inline-block;
}

.dropdown-menu:hover .menu-content {
    display: block;
}

.mytabs {
    display: flex;
    flex-wrap: wrap;
    width: 1500px;
    margin: 50px auto;
    padding: 25px;
}

.mytabs input[type="radio"] {
    display: none;
}
.mytabs label {
    padding: 25px;
    background: #e2e2e2;
    font-weight: bold;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
}

.mytabs .tab {
    width: 100%;
    padding: 20px;
    background: #fff;
    order: 1;
    display: none;
}
.mytabs .tab h2 {
    font-size: 3em;
}

.mytabs input[type='radio']:checked + label + .tab {
    display: block;
}

.mytabs input[type="radio"]:checked + label {
    background: #fff;
}

.col-md-5 label {
    background-color: transparent;
    margin: -20px;
    cursor: default;
}

.col-md-10 label {
    background-color: transparent;
    margin: -20px;
    cursor: default;
}

.btn {
    background-color: #ffff;
    color: #45cc96;
    border-color: #45cc96;
    padding: 20px;
}

.btn:hover {
    background-color: #45cc96;
    color: white
}

.mytabs .tab #header {
    font-weight: bold;
}

.mytabs .tab #info {
    padding-bottom: 5px;
}