html, body {
    line-height: 1.5;
    top: 0;
    left: 0;
    overflow-x: hidden;
    font-size: larger;
    font-weight: 500;
}

.navbar {
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0.5px 1px 2px rgb(170, 169, 169);
}
.navbar-brand label {
    font-size: 2.5rem;
    color: #183e9f;
    font-weight: 700;
    margin-left: 10px;
    display: inline;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: -60px;
}

.btn {
    background-color: #ffff;
    color: #45cc96;
    border-color: #45cc96;
    padding: 20px;
}

.btn:hover {
    background-color: #45cc96;
    color: #ffff;
}

#username, #password {
    width: 500px;
}

.text-center a {
    text-decoration: none;
    color: #45cc96;
}

.g-4, .gy-4 {
    --bs-gutter-y: .5rem;
}

.col {
    flex: 0 0 auto;
    width: 25.33333333%;
}

#back {
    cursor: pointer;
    margin-top: 10px;
    margin-left: 155px;
}

#back:hover {
    color: #45cc96;
}

#back a:hover {
    color: #45cc96;
}

#back a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-left: -10px;
}

#back svg {
    height: 20px;
}