html, body {
    line-height: 1.5;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: #118ec0;
}

.navbar {
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0.5px 1px 2px rgb(170, 169, 169);
}
.navbar-brand label {
    font-size: 2.5rem;
    color: #183e9f;
    font-weight: 700;
    margin-left: 10px;
    display: inline;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: -60px;
}

.navbar-nav svg {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.menu-btn {
    background-color: transparent;
    border-color: transparent;
    float: right;
}

.dropdown-menu {
    position: relative;
    display: inline-block;
    border-color: transparent;
    width: 100px;
}

.menu-content {
    display: none;
    position: absolute;
    width: 160px;
    z-index: 1;
    margin-top: 65px;
    background-color: white;
    border-radius: 10px;
}

.links,.links-hidden{
    display: inline-block;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.links-hidden{
    display: block;
    float: right;
}

.links{
    display: inline-block;
}

.dropdown-menu:hover .menu-content {
    display: block;
}

.container {
    max-width: 1000px;
    background-color: white;
    margin: auto;
    padding: 20px;
}

.container label {
    font-weight: bold;
    font-size: 18px;
}

.btn {
    background-color: #ffff;
    color: #45cc96;
    border-color: #45cc96;
    padding: 20px;
    margin: 20px;
    margin-bottom: -10px;   
}

.btn:hover {
    background-color: #45cc96;
    color: white
}

